.clxZon .close-button {
    color: rgb(166, 176, 195);
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}
.jZwKai {
    box-sizing: border-box;
    margin: 0px;
    height: 24px;
    width: 24px;
}
.kYhtXZ.has-title {
    padding-top: 0px;
}
.kYhtXZ {
    padding: 16px 24px;
    overflow-y: scroll;
}
.dVOSSi {
    box-sizing: border-box;
    margin: 8px 0px 0px;
}
.ggaVxK {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}