.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper {
  --border-box-color: #000;
  padding: 4px 3px;
  background-color: var(--background-color, #ffffff);
  border-bottom: 1px solid #cccccc;
}
.bc-interactive-chart .tools-dropdown ul li {
  font-size: 0.9rem;
  padding: 2px 10px;
}
.bc-interactive-chart__symbol-selector {
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}
.bc-interactive-chart__symbol-selector
  .bc-interactive-chart__symbol-selector-fieldset {
  position: relative;
}
.symbol-autocomplete.quick-search {
  position: absolute;
  width: 650px;
  height: auto;
  background: #ffffff;
  color: #000;
  left: 0;
  top: 33px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  z-index: 6;
}
.bc-dropdown-flexible .icon-glypth {
  font-size: 1.3rem;
}
[class^="bc-glyph-"],
[class*=" bc-glyph-"] {
  font-family: "barfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bc-glyph-chevron-down:before {
  content: "\e804";
}
.bc-dropdown-flexible .f-dropdown {
  width: auto;
  max-width: none;
  font-size: 1rem;
  border: none;
  box-shadow: 0 3px 10px -1px #6a6a6a;
  z-index: 5;
}
.hide-hard,
.ng-hide {
  display: none !important;
}
.hide {
  display: none;
}
.symbol-autocomplete.quick-search .no-found {
  color: #6b6b6b;
  font-style: italic;
}
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .right-border-separator {
  padding-right: 5px;
  border-right: 1px solid #d4d4d4;
}
.bar-type-drop-down {
  display: inline-block;
}
.bc-interactive-chart .tools-dropdown {
  display: inline-block;
  vertical-align: top;
}
.bc-dropdown-flexible {
  position: relative;
  display: inline-block;
}
.bc-interactive-chart .tools-dropdown .bc-dropdown-flexible-toggle {
  height: 24px;
  line-height: 17px;
}
.bc-dropdown-flexible .bc-dropdown-flexible-arrow {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 0.8rem;
}
.bc-glyph-plot_Line:before {
  content: "\e91e";
}
.tools-dropdown-bartype .bc-dropdown-flexible .bc-dropdown-flexible-toggle {
  min-width: 40px;
  padding: 2px 20px 2px 2px;
  border: none;
}
.bc-dropdown-flexible .bc-dropdown-flexible-toggle {
  position: relative;
  display: block;
  min-width: 50px;
  font-size: 0.9rem;
  color: #000;
  background-color: #fff;
  padding: 2px 30px 2px 5px;
  border: 1px solid #cccccc;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.bc-dropdown-flexible .image-preview {
  width: 100%;
}
.f-dropdown {
  z-index: 5;
}
.f-dropdown {
  display: none;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  background: #ffffff;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  height: auto;
  max-height: none;
  width: 100%;
  z-index: 89;
  margin-top: 2px;
  max-width: 200px;
}
.f-dropdown > *:last-child {
  margin-bottom: 0;
}
.f-dropdown > *:first-child {
  margin-top: 0;
}
.tools-dropdown-bartype .tools-dropdown-content {
  width: 235px;
}
.bc-interactive-chart .tools-dropdown ul {
  font-family: inherit;
  font-size: 1rem;
  list-style: none;
  margin: 10px 0;
}
.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper ul li {
  font-size: 0.893rem;
}
.f-dropdown li {
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 0;
}
.tools-dropdown-bartype .tools-dropdown-content .icon {
  float: left;
  margin-top: 7px;
}
.bc-interactive-chart .tools-dropdown ul li i {
  line-height: 20px;
  vertical-align: middle;
  font-size: 1.2rem;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
.tools-dropdown-bartype .tools-dropdown-content div.label {
  display: block;
  color: #000;
  margin-left: 20px;
  text-transform: none;
  font-size: 1rem;
}
.bc-interactive-chart .tools-dropdown .label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6a6a6a;
  padding: 10px 10px 0;
}
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .bc-button.white-button,
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .interactive-chart-drop-down-reset-chart
  .bc-dropdown-flexible-toggle,
.interactive-chart-drop-down-reset-chart
  .bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .bc-dropdown-flexible-toggle,
.bc-chart-grids .bc-interactive-chart__toolbar-wrapper .bc-button.white-button,
.bc-chart-grids
  .bc-interactive-chart__toolbar-wrapper
  .interactive-chart-drop-down-reset-chart
  .bc-dropdown-flexible-toggle,
.interactive-chart-drop-down-reset-chart
  .bc-chart-grids
  .bc-interactive-chart__toolbar-wrapper
  .bc-dropdown-flexible-toggle {
  font-size: 0.9rem;
  background-color: var(--input-background-color, #ffffff);
  padding: 3px 5px;
  color: var(--button-color, #1266b3);
  border: 1px solid var(--button-color, #1266b3);
  font-weight: 400;
  box-shadow: none;
  margin-left: 3px;
}
.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper .bc-button,
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .interactive-chart-drop-down-reset-chart
  .bc-dropdown-flexible-toggle,
.interactive-chart-drop-down-reset-chart
  .bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .bc-dropdown-flexible-toggle {
  border: none;
}
.bc-button.small,
.interactive-chart-drop-down-reset-chart .bc-dropdown-flexible-toggle,
.bc-button input.small,
.interactive-chart-drop-down-reset-chart
  .bc-dropdown-flexible-toggle
  input.small {
  display: inline-block;
  height: 24px;
  padding: 2px 7px 3px;
  line-height: normal;
}
button.small,
.interactive-chart-drop-down-reset-chart button.bc-dropdown-flexible-toggle,
.button.small,
.interactive-chart-drop-down-reset-chart .button.bc-dropdown-flexible-toggle {
  padding: 0.875rem 1.75rem 0.9375rem;
  font-size: 0.8125rem;
}
.bc-button,
.interactive-chart-drop-down-reset-chart .bc-dropdown-flexible-toggle,
.bc-button input,
.interactive-chart-drop-down-reset-chart .bc-dropdown-flexible-toggle input {
  font-weight: 600;
  font-size: 0.92rem;
  vertical-align: middle;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 0 8px;
  height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper .bc-glyph-cog {
  color: #000;
}
.bc-interactive-chart .settings-button i {
  font-size: 1.2rem;
  vertical-align: middle;
}
.dashboard-single-symbol-grid {
  display: inline-block;
}
.tool-float {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.clearfix:after {
  clear: both;
}
.bc-interactive-chart-template-drop-down.chart-page {
  padding: 0;
  border: none;
  min-height: 24px;
  vertical-align: top;
}
.bc-interactive-chart-template-drop-down {
  display: inline-block;
  padding-right: 5px;
  border-right: 1px solid #d4d4d4;
  min-height: 26px;
  vertical-align: middle;
}
.interactive-chart-drop-down-reset-chart {
  display: inline-block;
}
.interactive-chart-drop-down-reset-chart #bc-interactive-chart-reset {
  width: 100px;
  left: -36px !important;
}
.bc-interactive-chart .chart-tools .chart-tools-icon.white-button,
.bc-interactive-chart
  .chart-tools
  .interactive-chart-drop-down-reset-chart
  .chart-tools-icon.bc-dropdown-flexible-toggle,
.interactive-chart-drop-down-reset-chart
  .bc-interactive-chart
  .chart-tools
  .chart-tools-icon.bc-dropdown-flexible-toggle {
  height: 24px;
  color: #6a6a6a;
}
.bc-interactive-chart .chart-tools .chart-tools-icon {
  display: inline-block;
  vertical-align: top;
  height: 27px;
  width: 27px;
  text-align: center;
  font-size: 1.1rem;
  padding: 3px;
  color: #6a6a6a;
}
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .chart-tools-expand {
  color: #000;
}
.bc-glyph-long-arrow-ne:before {
  content: "\e965";
}
.hide-for-small-only,
.show-for-small-up,
.hide-for-small,
.hide-for-small-down,
.hide-for-medium-only,
.show-for-medium-up,
.hide-for-medium,
.hide-for-medium-down,
.show-for-large-only,
.show-for-large-up,
.show-for-large,
.show-for-large-down,
.hide-for-xlarge-only,
.hide-for-xlarge-up,
.hide-for-xlarge,
.show-for-xlarge-down,
.hide-for-xxlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge,
.show-for-xxlarge-down {
  display: inherit !important;
}
.bc-interactive-chart .block-label {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 8px;
}
.quick-settings {
  display: inline-block;
}
.bc-dropdown.styled select {
  height: 24px;
  width: 100%;
  padding: 2px 5px;
  color: #000;
}
.bc-dropdown select {
  display: inline-block;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.bc-interactive-chart .tools-dropdown-aggregation .bc-dropdown-flexible-toggle,
.bc-interactive-chart .tools-dropdown-period .bc-dropdown-flexible-toggle {
  border: none;
}
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .bc-dropdown-flexible-toggle {
  background-color: transparent;
}
.bc-interactive-chart .tools-dropdown.tools-dropdown-aggregation .f-dropdown {
  left: auto !important;
  right: 0 !important;
}
.bc-interactive-chart
  .tools-dropdown.tools-dropdown-aggregation
  .tools-dropdown-content {
  width: 160px;
}
.bc-interactive-chart .tools-dropdown ul li.active {
  color: #1266b3;
}
.bc-interactive-chart .tools-dropdown-period {
  border-left: 1px solid #d4d4d4;
  padding-left: 5px;
}
.bc-interactive-chart
  .tools-dropdown.tools-dropdown-period
  .bc-dropdown-flexible-toggle {
  min-width: 50px;
}
.bc-interactive-chart .tools-dropdown.tools-dropdown-period .f-dropdown {
  left: auto !important;
  right: 0 !important;
}
.interactive-chart-field-minutes {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}
.interactive-chart-field-minutes .interactive-chart-field-minutes__label {
  float: right;
  width: 38px;
  font-size: 0.9rem;
  line-height: 22px;
  text-align: center;
  border: 1px solid #cccccc;
  border-left: none;
}
.interactive-chart-field-minutes .interactive-chart-field-minutes__fieldset {
  margin-right: 38px;
}
.interactive-chart-field-minutes input[type="number"] {
  width: 40px;
  height: 24px;
}
.bc-form input[type="number"] {
  -moz-appearance: textfield;
}
.interactive-chart-field-minutes input[type="number"]:disabled {
  background-color: #e0e0e0;
  border-color: #ccc;
}
.bc-interactive-chart .bc-interactive-chart__mobile-toolbar {
  overflow: hidden;
  margin-bottom: 10px;
}
.bc-interactive-chart
  .bc-interactive-chart__mobile-toolbar
  .bc-interactive-chart__button-group-wrapper {
  display: inline-block;
  border: none;
}
.bc-interactive-chart
  .bc-interactive-chart__mobile-toolbar
  .bc-interactive-chart__button-group {
  width: auto;
  border: none;
}
.bc-interactive-chart .bc-interactive-chart__button-group {
  border: 1px solid #cccccc;
  margin-left: 5px;
}
.bc-interactive-chart
  .bc-interactive-chart__button-group
  .ham-menu-mobile-portrait {
  display: none;
}
.bc-interactive-chart .first-row-group .td-coll,
.bc-interactive-chart .bc-interactive-chart__button-group .td-coll {
  border: none;
  height: 28px;
}
.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper .bc-glyph-bars {
  color: #000;
  font-size: 1.2rem;
}
.bc-interactive-chart
  .bc-interactive-chart__button-group
  .ham-menu-mobile-landscape {
  display: none;
  background-color: #fff;
}
.bc-interactive-chart-hamburger-drop-down {
  display: inline-block;
}
.bc-interactive-chart-hamburger-drop-down
  .bc-interactive-chart-dropdown-hamburger {
  margin-top: 2px;
  max-width: 28px;
}
.bc-interactive-chart-hamburger-drop-down .bc-dropdown-flexible-toggle {
  border: none;
  min-width: 0px;
  width: 25px;
}
.bc-interactive-chart-hamburger-drop-down .bc-dropdown-flexible-arrow {
  display: none;
}
.quick-settings .interactive-chart__apply-period-drop-down.styled select {
  width: 53px;
}
.interactive-chart-sidebar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  user-select: none;
  flex: 1;
}

.active-tool {
  width: 30px;
  height: 30px;
  display: inline-block;
  min-width: auto;
  line-height: 30px;
  vertical-align: middle;
  font-size: 1.4rem;
  text-align: center;
  color: #000;
}
.bc-glyph-trendline:before {
  content: "\e94b";
}
.active-tool:focus,
.active-tool:visited {
  color: #000;
}
.tools-sidebar .bc-dropdown-flexible {
  display: flex;
  align-items: center;
}
.bc-dropdown-flexible {
  position: relative;
  display: inline-block;
}
.tools-sidebar .bc-dropdown-flexible .bc-dropdown-flexible-toggle {
  padding: 0;
  border: 0;
  min-width: auto;
  position: static;
}
.tools-sidebar .bc-dropdown-flexible-toggle {
  background: transparent;
}
.tools-sidebar
  .bc-dropdown-flexible
  .bc-dropdown-flexible-toggle
  .bc-dropdown-flexible-arrow {
  position: static;
  top: auto;
  right: auto;
  font-size: 0.7rem;
}
.tools-sidebar
  .bc-dropdown-flexible
  .bc-dropdown-flexible-toggle
  .bc-dropdown-flexible-arrow:before {
  content: "\e806";
}
.tools-sidebar .bc-dropdown-flexible .f-dropdown {
  top: 13px !important;
  left: 13px !important;
}
.bc-interactive-chart__wrapper {
  height: 100%;
}
.bc-interactive-chart {
  background-color: var(--theme-white);
  height: 100%;
}
.bc-interactive-chart__wrapper-chart {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.bc-interactive-chart .bc-interactive-chart__chart-error-block {
  padding: 10px;
  background: #f9e5e5;
  color: #c40000;
  list-style: none;
  margin-top: 10px;
}
.bc-interactive-chart__wrapper-chart-content {
  position: relative;
}
.interactive-chart-sidebar-container.sidebar-is-open
  .bc-interactive-chart__wrapper-chart
  .chart-wrapper {
  padding-left: 45px;
}
/* .bc-interactive-chart .chart-container {
  height: 360px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bc-interactive-chart .chart-container .highcharts-tooltip {
  z-index: 9 !important;
} */
.go-to-latest {
  cursor: pointer;
  background-color: #f2f2f2;
  fill: #545454;
  outline: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
}
.bc-interactive-chart-context-menu {
  display: none;
  position: absolute;
  min-width: 230px;
  -webkit-box-shadow: 0px 5px 10px #888888;
  -moz-box-shadow: 0px 5px 10px #888888;
  box-shadow: 0 5px 10px #888;
  z-index: 20;
  font-size: 0.9rem;
}
.bc-interactive-chart-context-menu
  .bc-interactive-chart-context-menu__menu-list {
  list-style-type: none;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0;
}
.bc-interactive-chart-context-menu
  .bc-interactive-chart-context-menu__menu-list
  > li {
  padding: 4px 7px;
  position: relative;
  font-size: 0.893rem;
}
.bc-interactive-chart-context-menu
  .bc-interactive-chart-context-menu__menu-list
  > li
  > div {
  position: relative;
}
.bc-interactive-chart-context-menu
  .bc-interactive-chart-context-menu__menu-list
  .separator {
  margin: 0;
}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.25rem 0 1.1875rem;
}
hr {
  box-sizing: content-box;
  height: 0;
}
#mouseMoveSpinner {
  position: fixed;
  display: none;
  font-size: 1.12rem;
  text-transform: uppercase;
  color: #1266b3;
}

/* /// button*/
.chart-selector-button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}
.chart-selector-button:hover {
  background-color: #f7fafa;
}
.chart-selector-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
/* list-tool */
.react-tabs__tab-list {
  box-shadow: none;
  background: rgb(239, 242, 245);
  padding: 3px;
  border-radius: 8px;
  margin: 0px;
  -webkit-box-align: center;
  align-items: center;
}
.react-tabs__tab {
  height: 36px;
  width: 36px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image: initial;
  border-bottom: none;
  bottom: 0px;
  position: relative;
  list-style: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  color: rgb(23, 25, 36);
  box-shadow: rgb(239 242 245) 0px 1px 0px;
  font-weight: 600;
}
.react-tabs__tab:not(:last-child) {
  margin-bottom: 10px;
}
.react-tabs__tab--selected {
  background: var(--theme-purple-primary);
  color: var(--theme-light-color);
  box-shadow: rgb(239 242 245) 0px 1px 0px;
  font-weight: 600;
}
/* tool and chart */
.tool_and_chart-reduce {
  padding: 10px 0px;
  /* height: 100%; */
}
.tools-sidebar {
  position: relative;
  z-index: 5;
  width: 45px;
  display: inline-block;
}

/* horizontal tool box */
.tools-sidebar-horizontal {
  position: relative;
  z-index: 5;
  display: inline-block;
}

.react-tabs__tab-horizontal {
  padding: 4px 4px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image: initial;
  border-bottom: none;
  position: relative;
  list-style: none;
  cursor: pointer;
  float: right;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  color: rgb(23, 25, 36);
  box-shadow: rgb(239 242 245) 0px 1px 0px;
}
/* .react-tabs__tab-horizontal:not(:last-child) {
  margin-left: 5px;
}
.react-tabs__tab-horizontal:first-child {
  margin-left: 0px;
} */
/* .react-tabs__tab-horizontal{
  margin: 0px 2 px;
} */


.react-tabs__tab-list-horizontal {
  box-shadow: none;
  background: rgb(239, 242, 245);
  padding: 3px;
  height: 43px;
  border-radius: 8px;
  margin: 0px;
  -webkit-box-align: center;
  align-items: center;
}

/* ///////////////// */
@media only screen and (min-width: 64.0625em) {
  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .show-for-medium-only,
  .hide-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }
  .hide-for-small-only,
  .show-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large-only,
  .show-for-large-up,
  .show-for-large,
  .show-for-large-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .large-12 {
    width: 100%;
  }
  .page-interactive-chart #main-content-column,
  .page-interactive-chart footer {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
  }
  .page-interactive-chart #main-content-column,
  .page-interactive-chart footer {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .large-12 {
    width: 100%;
  }
  .page-interactive-chart #main-content-column,
  .page-interactive-chart footer {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
  }
  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .show-for-medium-only,
  .hide-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }
  .quick-settings .interactive-chart__apply-period-drop-down.styled {
    width: 55px;
  }
  .bc-interactive-chart .chart-wrapper {
    height: 650px;
  }
}

/* ////////////////////// */
@media only screen and (min-width: 48em) {
  .hide-for-small-only,
  .show-for-small-up,
  .hide-for-small,
  .hide-for-small-down,
  .show-for-medium-only,
  .show-for-medium-up,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-large,
  .show-for-large-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-xlarge,
  .show-for-xlarge-down,
  .hide-for-xxlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge,
  .show-for-xxlarge-down {
    display: inherit !important;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset {
    width: 120px;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset
    input[type="submit"] {
    height: 24px;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset
    input[type="text"] {
    height: 24px;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset {
    width: 120px;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset
    input[type="submit"] {
    height: 24px;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset
    input[type="text"] {
    height: 24px;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
  .medium-12 {
    width: 100%;
  }
  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .hide-for-medium-only,
  .hide-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large-only,
  .show-for-large-up,
  .show-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }
  .bc-interactive-chart .bc-interactive-chart__toolbar-wrapper .chart-tools {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .bc-interactive-chart
    .bc-interactive-chart__toolbar-wrapper
    .quick-settings-list,
  .bc-interactive-chart
    .bc-interactive-chart__toolbar-wrapper
    .quick-settings-list
    li {
    border: none;
  }
  .quick-settings .quick-settings-list {
    border: 1px solid #cccccc;
  }
  .show-for-small-only,
  .hide-for-small-up,
  .show-for-small,
  .show-for-small-down,
  .hide-for-medium-only,
  .hide-for-medium-up,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large-only,
  .show-for-large-up,
  .show-for-large,
  .hide-for-large-down,
  .show-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xlarge,
  .hide-for-xlarge-down,
  .show-for-xxlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge,
  .hide-for-xxlarge-down {
    display: none !important;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset {
    width: 120px;
  }
  .bc-interactive-chart__symbol-selector
    .bc-interactive-chart__symbol-selector-fieldset
    input[type="submit"] {
    height: 24px;
  }
  .bc-interactive-chart .bc-interactive-chart__mobile-portrait-notification {
    display: none !important;
  }
  .bc-interactive-chart .chart-wrapper {
    display: flex !important;
  }
}

/* //////////////////////////////////////////////////////////////////////// */
@media only screen and (orientation: landscape) and (min-width: 480px) {
  .bc-interactive-chart .bc-interactive-chart__mobile-toolbar {
    margin-bottom: 0;
  }
  .bc-interactive-chart
    .bc-interactive-chart__mobile-toolbar
    .bc-interactive-chart__symbol-selector,
  .bc-interactive-chart
    .bc-interactive-chart__mobile-toolbar
    .bar-type-drop-down,
  .bc-interactive-chart
    .bc-interactive-chart__mobile-toolbar
    .bc-interactive-chart__button-group-wrapper,
  .bc-interactive-chart .bc-interactive-chart__mobile-toolbar .quick-settings {
    vertical-align: middle;
  }
  .bc-interactive-chart
    .bc-interactive-chart__button-group
    .ham-menu-mobile-landscape {
    display: inline-block;
    padding-left: 0;
  }
  .bc-interactive-chart .bc-interactive-chart__mobile-toolbar .quick-settings {
    margin-top: 4px !important;
  }
  .bc-interactive-chart
    .bc-interactive-chart__toolbar-wrapper
    .quick-settings-list,
  .bc-interactive-chart
    .bc-interactive-chart__toolbar-wrapper
    .quick-settings-list
    li {
    border: none;
  }
  .bc-interactive-chart
    .bc-interactive-chart__mobile-toolbar
    .quick-settings
    .quick-settings-list
    li {
    padding: 2px 4px;
  }
}

/* //////////////////////////////////////////////////////////////// */

@media only screen and (orientation: landscape) {
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }
}

.page-interactive-chart #main-content-column,
.page-interactive-chart footer {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bc-interactive-chart__symbol-selector
  .bc-interactive-chart__symbol-selector-fieldset {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 110px;
  padding-right: 30px;
}

.bc-interactive-chart__symbol-selector
  .bc-interactive-chart__symbol-selector-fieldset
  input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 29px;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  text-transform: uppercase;
}
.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper .bc-button,
.bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .interactive-chart-drop-down-reset-chart
  .bc-dropdown-flexible-toggle,
.interactive-chart-drop-down-reset-chart
  .bc-interactive-chart
  .bc-interactive-chart__toolbar-wrapper
  .bc-dropdown-flexible-toggle {
  border: none;
}
.bc-button.light-blue,
.interactive-chart-drop-down-reset-chart
  .light-blue.bc-dropdown-flexible-toggle,
.bc-button input.light-blue,
.interactive-chart-drop-down-reset-chart
  .bc-dropdown-flexible-toggle
  input.light-blue {
  background: #1266b3;
}

.bc-button,
.interactive-chart-drop-down-reset-chart .bc-dropdown-flexible-toggle,
.bc-button input,
.interactive-chart-drop-down-reset-chart .bc-dropdown-flexible-toggle input {
  font-weight: 600;
  font-size: 0.92rem;
  vertical-align: middle;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 0 8px;
  height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bc-interactive-chart__symbol-selector
  .bc-interactive-chart__symbol-selector-fieldset
  input[type="text"] {
  display: block;
  width: 100%;
  height: 29px;
  background: var(--input-background-color, #ffffff);
  color: var(--text-color, #000000);
}
.bc-form input[type="text"],
.bc-form input[type="number"],
.bc-form input[type="password"],
.bc-form input[type="email"],
.bc-form input[type="search"],
.bc-form textarea {
  -webkit-appearance: none;
  padding: 0 5px;
  border-radius: 0;
  border: 1px solid #999999;
  height: 28px;
}
.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
}
.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
.bc-interactive-chart__symbol-selector
  .bc-interactive-chart__symbol-selector-fieldset {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 110px;
  padding-right: 30px;
}
.small-12 {
  width: 100%;
}
.hide-for-small-only,
.hide-for-small-up,
.hide-for-small,
.hide-for-small-down,
.show-for-medium-only,
.show-for-medium-up,
.show-for-medium,
.hide-for-medium-down,
.show-for-large-only,
.show-for-large-up,
.show-for-large,
.hide-for-large-down,
.show-for-xlarge-only,
.show-for-xlarge-up,
.show-for-xlarge,
.hide-for-xlarge-down,
.show-for-xxlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge,
.hide-for-xxlarge-down {
  display: none !important;
}
.show-for-small-only,
.show-for-small-up,
.show-for-small,
.show-for-small-down,
.hide-for-medium-only,
.hide-for-medium-up,
.hide-for-medium,
.show-for-medium-down,
.hide-for-large-only,
.hide-for-large-up,
.hide-for-large,
.show-for-large-down,
.hide-for-xlarge-only,
.hide-for-xlarge-up,
.hide-for-xlarge,
.show-for-xlarge-down,
.hide-for-xxlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge,
.show-for-xxlarge-down {
  display: inherit !important;
}
.bc-interactive-chart .chart-tools {
  float: right;
  margin-left: 5px;
}
.quick-settings .quick-settings-list {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  border: none !important;
  margin: 0;
}
.quick-settings .quick-settings-list li.active {
  font-weight: 600;
  color: #1266b3;
}
.bc-interactive-chart .bc-interactive-chart__toolbar-wrapper ul li {
  font-size: 0.893rem;
}
.quick-settings .quick-settings-list li {
  float: left;
  min-width: 25px;
  border-right: 1px solid #cccccc;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
}
.bc-dropdown.styled {
  width: 120px;
  color: #000;
  font-family: Noto Sans, sans-serif;
  border-radius: 0;
  border: 1px solid #999999;
  background-color: #fff;
  font-size: 0.929rem;
}
.show-for-small-only,
.show-for-small-up,
.show-for-small,
.show-for-small-down,
.hide-for-medium-only,
.hide-for-medium-up,
.hide-for-medium,
.show-for-medium-down,
.hide-for-large-only,
.hide-for-large-up,
.hide-for-large,
.show-for-large-down,
.hide-for-xlarge-only,
.hide-for-xlarge-up,
.hide-for-xlarge,
.show-for-xlarge-down,
.hide-for-xxlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge,
.show-for-xxlarge-down {
  display: inherit !important;
}
.bc-interactive-chart .bc-interactive-chart__mobile-portrait-notification {
  text-align: center;
  margin-top: 5px;
  color: #333;
  font-size: 13px;
  clear: both;
}
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}
.bc-interactive-chart .chart-wrapper {
  padding-top: 5px;
  padding-left: 10px;
}
.chart-container {
  flex: 1;
}

.tv-lightweight-charts {
  flex: 1;
  height: 100%;
}
