.hm-solutions {
  padding: 40px 0 40px;
  background: url(https://www.similarweb.com/scripts/lite-app/58510c8779c459c94aa8.svg)
    no-repeat 50% 100%;
  background-size: cover;
}
.hm-solutions__card-footer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.swui-link--secondary {
  color: #092540;
}
.swui-link {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: "DM Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.swui-link__no-break {
  white-space: nowrap;
}
.swui-link__arrow {
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 4px;
  fill: currentColor;
}
.app-header__container,
.swui-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.swui-h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #092540;
  font-size: 2rem;
  line-height: 1.25;
}
.hm-solutions__cards {
  display: flex;
  flex-direction: column;
  margin: 0 -8px 24px;
}
.hm-solutions__card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 12px 12px 16px;
  margin: 8px;
  text-decoration: none;
  color: inherit;
  background: #fff;
  box-shadow: 8px 8px 32px rgb(64 68 77 / 8%);
  border-radius: 8px;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  will-change: tranform;
}
.hm-solutions__card-body {
  display: flex;
  flex-grow: 1;
}
.hm-solutions__card-icon {
  flex-shrink: 0;
  display: block;
  width: 52px;
  height: 52px;
  margin-right: 12px;
}
.hm-solutions__card-image {
  width: 100%;
  height: auto;
}
.hm-solutions__card-title {
  font: 700 1.5rem "DM Sans", "Noto Sans JP", sans-serif;
  margin: 4px 0 20px;
}

.hm-solutions__card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.body-text--sm {
  font-size: 0.875rem;
  line-height: 1.29;
}
.body-text {
  letter-spacing: 0.01em;
  color: rgba(9, 37, 64, 0.8);
}
.hm-solutions__card-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  /* background: url(data:image/svg+xml;charset=utf8, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2714%27 height=%2714%27 viewBox=%270 0 500 500%27%3E %3Cpath fill=%27%23195AFE%27 d=%27M179.5 329.6L444.7 64.4l53 53-318.2 318.2-53.1-53.1L2.3 258.4l53-53 124.2 124.2z%27/%3E %3C/svg%3E) no-repeat 50% 50%; */
  background-size: 10px auto;
}
.body-text--lg {
  font-size: 0.875rem;
  line-height: 1.29;
}
.body-text {
  letter-spacing: 0.01em;
  color: rgba(9, 37, 64, 0.8);
}

@media (min-width: 567px) {
  .hm-solutions {
    padding-top: 48px;
  }
  .app-header__container,
  .swui-container {
    max-width: 566px;
  }
  .hm-solutions__cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .hm-solutions__card {
    width: calc(50% - 16px);
  }
  .hm-solutions__card-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 888px) {
  .hm-solutions {
    padding-top: 56px;
    /* padding-bottom: 44px; */
  }
  .body-text--lg {
    font-size: 1.125rem;
    line-height: 1.34;
  }
  .app-header__container,
  .swui-container {
    max-width: 1248px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .swui-h2 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .hm-solutions__cards {
    justify-content: center;
    max-width: 800px;
    margin: 0 auto 48px;
  }
  .hm-solutions__card {
    width: 100%;
    max-width: 240px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px 20px 16px;
  }
  .hm-solutions__card-body {
    flex-direction: column;
  }
  .hm-solutions__card-icon {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 8px;
  }
  .hm-solutions__card-title {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .hm-solutions__card-footer {
    margin-top: 4px;
    justify-content: flex-end;
  }
  .body-text--lg {
    font-size: 1.125rem;
    line-height: 1.34;
  }
}

@media (min-width: 1201px) {
  .hm-solutions {
    /* padding-bottom: 56px; */
  }
  .hm-solutions__cards {
    flex-wrap: nowrap;
    max-width: initial;
    margin: 0 -8px 60px;
  }
  .hm-solutions__card {
    width: calc(20% - 16px);
    margin-top: 0;
    margin-bottom: 0;
  }
}
.solution-icon{
    width: 90px;
    height: 90px;
}