.jKIeAa {
    display: flex;
    margin-left: 40px;
    -webkit-box-align: center;
    align-items: center;
}
.eanzZL .cmc-popover__trigger {
    height: 27px;
    margin-right: 6px;
}
.eFEgkr {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    line-height: 12px;
    margin: 0px;
    padding: 5px;
    vertical-align: baseline;
    white-space: nowrap;
}
.kJnRBT {
    font-weight: 600;
}
.fAPnqP {
    background-image: url(https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 15px;
    width: 15px;
    border: 1px solid rgb(228, 231, 235);
    border-radius: 50%;
}
.dUQeWc {
    font-weight: 600;
    margin-left: 6px;
}
.cIzAJN {
    margin: 2px 0px 0px 4px;
}
.ccLqrB {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: rgb(23, 25, 36);
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin: 0px;
    padding: 5px;
    vertical-align: baseline;
    white-space: nowrap;
    height: 27px;
    width: 22px;
}

.glLXAQ {
    width: 100%;
}
.iPvcpq {
    position: relative;
}
.glLXAQ .cmc-input {
    padding-left: 32px;
    background-color: rgb(239, 242, 245);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin-right: 2px;
}
.glLXAQ .cmc-input {
    background-color: rgb(235, 239, 242);
    border-radius: 5px;
    border: 2px solid rgb(235, 239, 242);
    box-shadow: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 36px;
    line-height: 1;
    outline: none;
    padding: 12px;
    width: 100%;
}
.iPvcpq input + .cmc-icon, .iPvcpq input + .cmc-icon__wrap {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.coGWQa {
    box-sizing: border-box;
    margin: 0px;
    height: 16px;
    width: 16px;
}
[pointer-events="none"] {
    pointer-events: none;
}
.dsmLjZ {
    overflow-y: scroll;
    max-height: 50vh;
    padding-top: 10px;
    width: 100%;
}
.eSrHmB p:first-child {
    color: rgb(166, 176, 195);
    padding-left: 12px;
    font-size: 12px;
    margin: 0px;
}
.YsYKS {
    color: rgb(23, 25, 36);
    border-radius: 5px;
    cursor: pointer;
    flex: 0 0 33%;
    font-size: 12px;
    line-height: 16px;
    white-space: normal;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}
.YsYKS .cmc-language-picker__option {
    color: rgb(23, 25, 36);
    padding: 10px 12px;
    width: 100%;
    text-align: left;
}
.jKIeAa a {
    /* color: rgb(23, 25, 36); */
    text-decoration: none;
    vertical-align: bottom;
}
.eSrHmB p:first-child {
    color: rgb(166, 176, 195);
    padding-left: 12px;
    font-size: 12px;
    margin: 0px;
}
.YsYKS .cmc-language-picker__option span:last-child {
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(88, 102, 126);
}

.clxZon {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(10, 30, 66, 0.4);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /* visibility: hidden; */
    opacity: 0;
    transition: visibility 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
    top: 0px;
    left: 0px;
}
.clxZon > div {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-in-out 0s;
    /* max-width: 100vw; */
    position: relative;
    background: var(--control-background-color);
    border-radius: 16px;
    overflow: hidden;
}



.jBaqVU {
    padding-bottom: 16px;
}
.jeWXNT {
    position: relative;
}
.cmxLuQ {
    height: 18px;
    left: 8px;
    margin-top: -14px;
    position: absolute;
    text-align: center;
    top: 50%;
}
.fAFbeI {
    box-sizing: border-box;
    margin: 0px;
    height: 18px;
    width: 18px;
    color: rgb(166, 176, 195);
}
.bNLAbY {
    border: 1px solid rgb(239, 242, 245);
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    max-width: 100%;
    outline: 0px;
    padding: 0px 16px 0px 32px;
    width: 100%;
    font-size: 12px;
    height: 32px;
    line-height: 18px;
    background-color: rgb(239, 242, 245);
}
.dsmLjZ {
    overflow-y: scroll;
    max-height: 50vh;
    padding-top: 10px;
    width: 100%;
}
.eTKrlv p:first-child {
    color: rgb(166, 176, 195);
    padding-left: 12px;
    font-size: 12px;
    margin: 0px;
}
.eTKrlv .group-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}
.eTKrlv .group-list > div {
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.gqwalg.selected {
    background-color: rgb(239, 242, 245);
}
.gqwalg {
    color: rgb(23, 25, 36);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    white-space: normal;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10.5px 13px;
    flex: 0 0 100%;
}
.gqwalg .cmc-currency-picker-option {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
}
.gqwalg .cmc-currency-picker--icon {
    text-align: right;
}
.gqwalg .cmc-currency-picker--flag {
    margin-right: 10px;
}
.hrTIGz {
    background-image: url(https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(228, 231, 235);
    border-radius: 50%;
}
.gqwalg .cmc-currency-picker-label-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.gqwalg .cmc-currency-picker--label:last-child {
    color: rgb(88, 102, 126);
    text-transform: uppercase;
}
.eVwNUa {
    box-sizing: border-box;
    margin: 0px;
    height: 20px;
    width: 20px;
}
